.testimonials{
  scroll-margin-top: $scroll-margin-top-navbar;
  @include max-WIDTH();
  padding: $padding-general-x $padding-general-y;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  &__header{
    @extend .know-more__header;
    @include respond-to('medium'){
      text-align: center
    }
  }
  &__title{
    @extend .know-more__title;
  }
  &__subtitle{
    @extend .know-more__subtitle;
  }
  &__content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    @include respond-to('medium'){
      margin-top: 3rem;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__card{
    height: max-content;
    width: 100%;
    min-width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
    @include transitionTransform();
    @include respond-to('medium'){
      width: 50%;
      min-width: 50%;
      gap: 1.5rem;
    }
    &:hover{
      transform: scale(1.1);
      @include transitionTransform();
    }
  }
  &__person-photo{
    width: 6rem;
    object-fit: contain;
    border-radius: 100%;
  }
  &__comment{
    @include m-h-6();
    color: $text-gray-black;
    text-align: justify;
  }
  &__person{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include m-body-2();
    color: $text-gray-black;
    span {
      width: 50%;
    }
    span:nth-child(2) {
      text-align: end;
    }
  }
}