.useful-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__title{
    @include m-h-4();
  }
  &__list{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  &__item{
    list-style: none;
    a {
      @include m-body-2();
      color: $text-white;
      text-decoration: none;
      }
    }
}