@mixin flexbox($direction, $content: null, $align: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

@mixin max-WIDTH(){
  width: 100%;
  max-width: 82rem;
  margin: 0 auto;
}

@mixin m-h-1(){
  font-size: 2.4rem;
  line-height: 120%;
  font-weight: 700;
  font-style: normal;
  @include respond-to('medium'){
    font-size: 4.8rem;
  }
  @include respond-to('large'){
    font-size: 5.6rem;
  }
}
@mixin m-h-2(){
  font-size: 2rem;
  line-height: 120%;
  font-weight: 700;
  font-style: normal;
  @include respond-to('medium'){
    font-size: 3.2rem;
  }
  @include respond-to('large'){
    font-size: 3.4rem;
  }
}
@mixin m-h-3(){
  font-size: 1.8rem;
  line-height: 120%;
  font-weight: 700;
  font-style: normal;
  @include respond-to('medium'){
    font-size: 2.4rem;
  }
  @include respond-to('large'){
    font-size: 2.6rem;
  }
}
@mixin m-h-4(){
  font-size: 1.6rem;
  line-height: 120%;
  font-weight: 700;
  font-style: normal;
  @include respond-to('medium'){
    font-size: 1.8rem;
  }
  @include respond-to('large'){
    font-size: 2rem;
  }
}
@mixin m-h-5(){
  font-size: 1.4rem;
  line-height: 120%;
  font-weight: 700;
  font-style: normal;
  @include respond-to('medium'){
    font-size: 1.5rem;
  }
  @include respond-to('large'){
    font-size: 1.7rem;
  }
}
@mixin m-h-6(){
  font-size: 1.2rem;
  line-height: 120%;
  font-weight: 700;
  font-style: normal;
  @include respond-to('medium'){
    font-size: 1.4rem;
  }
  @include respond-to('large'){
    font-size: 1.5rem;
  }
}
@mixin m-body-1(){
  font-size: 1.4rem;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  @include respond-to('medium'){
    font-size: 1.8rem;
  }
}
@mixin m-body-2(){
  font-size: 1.2rem;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  @include respond-to('medium'){
    font-size: 1.6rem;
  }
}
@mixin m-button-1(){
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  @include respond-to('medium'){
    font-size: 2.0rem;
  }
}
@mixin m-button-2(){
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  @include respond-to('medium'){
    font-size: 1.8rem;
  }
}
@mixin m-button-3(){
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  @include respond-to('medium'){
    font-size: 1.6rem;
  }
}
@mixin m-f-1(){
  font-size: 1.2rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  @include respond-to('medium'){
    font-size: 1.6rem;
  }
}
@mixin m-f-2(){
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  @include respond-to('medium'){
    font-size: 1.8rem;
  }
}
@mixin m-f-3(){
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  @include respond-to('medium'){
    font-size: 1.6rem;
  }
}

@mixin transitionColor(){
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
}

@mixin transitionTransform(){
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
}